# Analyze of hostname length distribution collected from Arquivo.pt Crawler Logs

In [21]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sys, os, re
%matplotlib inline

In [22]:
df1 = pd.read_csv('awp15.hosts', sep =' ', index_col=False)
df2 = pd.read_csv('fawp18.hosts', sep =' ', index_col=False)

Sample input

In [23]:
df1.head()

   [#urls]   [#bytes]          [host]  [#robots]  [#remaining]
0  2878033  235766505            dns:          0             0
1    19994  216746449     www.esaf.pt          0         10495
2    19988  457434310       www.it.pt          0          9004
3    19988  781913912  www.staples.pt          0         10436
4    19985  278623745  www.nisbets.pt          0         23234

In [25]:
df2.head()

,[#urls],[#bytes],[host],[#robots],[#remaining],[#novel-urls],[#novel-bytes],[#dup-by-hash-urls],[#dup-by-hash-bytes],[#not-modified-urls],[#not-modified-bytes]
0,6677,310970136,www.ionline.pt,74,9781,6677,310970136,0,0,0,0
1,5993,181149252,www.youtube.com,0,5109,5993,181149252,0,0,0,0
2,5677,488107246,www.publico.pt,0,9723,5677,488107246,0,0,0,0
3,5065,107138128,i.ytimg.com,0,8167,5065,107138128,0,0,0,0
4,5023,152834857,www.maisnorte.pt,3,256,5023,152834857,0,0,0,0

In [61]:
# Concatenate Dataframes
df = df1.append(df2)

# Get only hosts
df = df[['[host]']]

# number of entries
print "Number of hostname entries: %s" % len(df['[host]'])

Number of hostname entries: 548059

In [68]:
# Generate a new column with hostname length
df['hostname_length'] = df['[host]'].str.len()

In [69]:
# remove dns: hosts
df = df[df['[host]'] != 'dns:']

In [75]:
df['hostname_length'].describe(percentiles=[.99])

count    548056.000000
mean         19.660859
std           7.965370
min           2.000000
50%          18.000000
99%          44.000000
max          78.000000
Name: hostname_length, dtype: float64